body{
    background-color: #333;
}
#map{
    width: 640px;
    height: 640px;
    border: 6px solid #222;
    background-image: url(../icons/water.gif);
    background-blend-mode: multiply;
    background-color: #080808;
    position: relative;
}